<!-- font-awsome load -->
<link rel="stylesheet" href="assets/css/menu.css">

<head>
    <meta charset="utf-8">
</head>

<header class="logo-bar con-min-width">
    <div class="com text-align-center">
        <a href="./" class="logo">
            <i class="fab fa-jenkins"></i>
            <span>봉의고등학교 학생회</span>
        </a>
    </div>
</header>

<header class="menu-bar con-min-width">
    <div class="con">
        <nav class="menu-bar__menu-1">
            <ul class="float-gird">
                <li>
                    <a href="#" class="block">
                        <i class="fas fa-home"></i>
                        <span>메인</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:5000/patrol" class="block">
                        <i class="fas fa-list"></i>
                        <span>선도표</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block">
                        <i class="fas fa-link"></i>
                        <span>선도 내역 기록</span>
                    </a>

                </li>
                <li>
                    <a href="#" class="block">
                        <i class="fas fa-chart-pie"></i>
                        <span>건의사항 게시판</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<body style="background-image: url('https://i.namu.wiki/i/RrY91m3DasyyI-JibT-GHXBlxm66e1KT7dbe3hAeALwMHjpo8Lzb9zUbMrFBh04o7XM8FqdOk_ic9fNiwprQ3U4pf8GNk1vDppSkU6mTqGoSLyyq1sYooSnI2pggKDbjwRFA40ib6_z8EiGLyZxBng.webp');
             background-size: 50%;
             background-position: bottom;
             background-repeat: no-repeat">

</body>
